<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/vizo/default/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Sep 2020 02:38:36 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/meanmenu.css">
    <!-- Line Awesome CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/line-awesome.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.theme.default.min.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">

    <title>Vizo - Restaurant </title>

    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
</head>
<body>


    @RenderBody()


    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="las la-long-arrow-alt-up"></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Slim JS -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Content/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/Content/assets/js/jquery.meanmenu.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- Popup JS -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/Content/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/Content/assets/js/contact-form-script.js"></script>
    <!-- Datepicker JS -->
    <script src="~/Content/assets/js/datepicker.min.js"></script>
    <!-- Wow JS -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/assets/js/main.js"></script>
 
</body>
</html>
