
@{

    Layout = "~/Views/Shared/_TLayout.cshtml";
    var service = (List<webMVC1.EF.CategoryDetail>)ViewBag.CategoryDetail;

}


<!-- Start Page Banner -->
<div class="page-title-area item-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Services Details</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Services Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Services Details Area -->
<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">


            @foreach (var item in service)
            {
                <div class="col-lg-8 col-md-12">
                    <div class="services-details-image">
                        <img alt="image" src="/Content/Service/@item.Images">
                    </div>
                    <div class="services-details-desc">


                        <div class="text-result">
                            <h3>@item.Name</h3>
                            <p>@item.DesCription</p>
                        </div>
                        <div class="services-details-faq">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">@item.Question <i class="las la-plus"></i></a>
                                    <p class="accordion-content show">@item.answer</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">
                    <section class="widget widget_search">
                        <form class="search-form search-top">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit">
                                <i class="flaticon-loupe"></i>
                            </button>
                        </form>
                    </section>

                    @{
                        Html.RenderAction("CategoryDetail", "Detail");
                    }
                    <section class="widget widget_contact">
                        <div class="text">
                            <span>Emergency</span>
                            <a href="tel:0355-978-258">0355-978-258</a>
                            <a href="mailto:tamcb2708@gmail.com">tamcb278@gmail.com</a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Start Services Details Area -->
<!-- Start Services Area -->
<section class="services-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="las la-apple-alt"></i>
                    </div>
                    <h3>Breakfast</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="las la-drumstick-bite"></i>
                    </div>
                    <h3>Lunch</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="las la-fish"></i>
                    </div>
                    <h3>Dinner</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Services Area -->
