<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/vizo/default/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Sep 2020 02:38:36 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/animate.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/meanmenu.css">
    <!-- Line Awesome CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/line-awesome.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/flaticon.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/nice-select.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/owl.theme.default.min.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/Content/User/assets/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="/Content/User/assets/css/jquery-ui.css" rel="stylesheet" />
    <title>Vizo - Restaurant </title>


    <link rel="icon" type="image/png" href="/Content/User/assets/img/favicon.png">
</head>
<body>
    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="/" ref="nofollow">
                            <img src="/Content/User/assets/img/logo.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/" ref="nofollow">
                        <img src="/Content/User/assets/img/logo.png" alt="image">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            @{
                                Html.RenderAction("MainMenu", "defalts");
                            }

                            @{
                                Html.RenderAction("HeadCart", "defalts");
                            }

                        </ul>
                        @{
                            Html.RenderAction("TopMenu", "defalts");
                        }
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    @RenderBody()
    @{
        Html.RenderAction("FooterMenu", "defalts");
    }
    <!-- End Footer Area -->
    <!-- Start Copy Right Area -->
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <p>
                            <i class="far fa-copyright"></i>
                            All Rights Reserved by
                            <a href="https://www.facebook.com/profile.php?id=100035884935308" target="_blank">
                                Tuấn Tâm IT
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <a href="terms-of-service">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="privacy-policy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Right Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="las la-long-arrow-alt-up"></i>
    </div>
    <!-- End Go Top Area -->
    <script src="/Content/User/assets/js/jquery-3.5.1.min.js"></script>
    <!-- Jquery Slim JS -->
    <!-- Popper JS -->
    <script src="/Content/User/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/Content/User/assets/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="/Content/User/assets/js/jquery.meanmenu.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/Content/User/assets/js/owl.carousel.min.js"></script>
    <!-- Popup JS -->
    <script src="/Content/User/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="/Content/User/assets/js/jquery.nice-select.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="/Content/User/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="/Content/User/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <!-- Datepicker JS -->
    <script src="/Content/User/assets/js/datepicker.min.js"></script>
    <!-- Wow JS -->
    <script src="/Content/User/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="/Content/User/assets/js/main.js"></script>
    <script src="/Content/User/assets/js/jquery-1.12.4.js"></script>
    <script src="/Content/User/assets/js/jquery-ui.js"></script>


    <script src="/Content/Admin/js/jquery.unobtrusive-ajax.js"></script>
    <script src="/Content/Admin/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Content/User/assets/js/controller/SearchController.js"></script>
    @RenderSection("jsFooter", required: false)
    <script src="/Content/User/assets/js/controller/TagController.js"></script>
</body>
</html>
