@model List<webMVC1.EF.Detail>



    <section class="widget widget_services_list">
        

        
        <h3 class="widget-title">Category</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/detail/@item.ID">
                        @item.Name
                        <i class="las la-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </section>
