@model List<webMVC1.Models.CartItem> 


    <div class="container">
        <div class="option-inner">
            <div class="others-options d-flex align-items-center">
                <div class="option-item">
                    <div class="cart-btn">
                        <a href="/gio-hang">
                            <i class="las la-shopping-cart"></i>
                            <span>@Model.Count</span>
                        </a>
                    </div>
                </div>

                <div class="option-item">
                    <i class="search-btn flaticon-loupe"></i>
                    <i class="close-btn flaticon-cancel"></i>
                    <div class="search-overlay search-popup">
                        <div class='search-box'>
                            <form class="search-form" action="/tim-kiem" method="get">
                                <input class="search-input" name="Keyword" id="txtKeyword" placeholder="Search" type="text">

                                <button class="search-button" type="submit">
                                    <i class="flaticon-loupe"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

