@{

    Layout = "~/Views/Shared/_TLayout.cshtml";

}


<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Pricing</h2>
                    <ul>
                        <li>
                            <a href="index">Home</a>
                        </li>
                        <li>Pricing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Pricing Area -->
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Pricing Plan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Breakfast Set</h3>
                    </div>

                    <div class="price">
                        $100.99 <span>Per-Package</span>
                    </div>

                    <ul class="pricing-features">
                        <li>
                            <i class="las la-check"></i>
                            Tomato Poha
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Curd Upma
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Jowar Pyaz Ki Roti
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Muesli
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Salad
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Bread Upma
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Mineral Water
                        </li>
                    </ul>

                    <div class="pricing-btn">
                        <a href="#" class="default-btn">
                            Choose Package
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Lunch Set</h3>
                    </div>

                    <div class="price">
                        $200.99 <span>Per-Package</span>
                    </div>

                    <ul class="pricing-features">
                        <li>
                            <i class="las la-check"></i>
                            Chana Kulcha
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Shahi Egg Curry
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Rice
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Allahabad Ki Tehri
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Salad
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Kolhapuri Vegetables
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Mineral Water
                        </li>
                    </ul>

                    <div class="pricing-btn">
                        <a href="#" class="default-btn">
                            Choose Package
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Dinner Set</h3>
                    </div>

                    <div class="price">
                        $300.99 <span>Per-Package</span>
                    </div>

                    <ul class="pricing-features">
                        <li>
                            <i class="las la-check"></i>
                            Chicken Curry
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Rice
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Kebab
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Pasta
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Salad
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Fish Curry
                        </li>
                        <li>
                            <i class="las la-check"></i>
                            Mineral Water
                        </li>
                    </ul>

                    <div class="pricing-btn">
                        <a href="#" class="default-btn">
                            Choose Package
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->
