@{

    Layout = "~/Views/Shared/_TLayout.cshtml";

}


<!-- Start Page Banner -->
<div class="page-title-area item-bg3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Shop Details</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Shop Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Shop Details Area -->
<section class="product-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-image"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-desc">
                            <h3>Mushroom with Corn Soup</h3>
                            <div class="price">
                                <span class="new-price">$541.00</span>
                                <span class="old-price">$652.00</span>
                            </div>
                            <div class="product-review">
                                <div class="rating">
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                    <i class="las la-star"></i>
                                </div>
                                <a href="#" class="rating-count">3 reviews</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            <div class="product-add-to-cart">
                                <div class="input-counter">
                                    <span class="minus-btn">
                                        <i class="las la-minus"></i>
                                    </span>
                                    <input type="text" min="1" value="1">
                                    <span class="plus-btn">
                                        <i class="las la-plus"></i>
                                    </span>
                                </div>
                                <button type="submit" class="default-btn">
                                    Add to cart
                                    <span></span>
                                </button>
                            </div>

                            <div class="buy-checkbox-btn">
                                <div class="item">
                                    <input class="inp-cbx" id="cbx" type="checkbox">
                                    <label class="cbx" for="cbx">
                                        <span>
                                            <svg width="12px" height="10px" ">
                                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                            </svg>
                                        </span>
                                        <span>I agree with the terms and conditions</span>
                                    </label>
                                </div>
                                <div class="item">
                                    <a href="#" class="btn btn-light">Buy it now!</a>
                                </div>
                            </div>

                            <div class="products-share">
                                <ul class="social">
                                    <li><span>Share:</span></li>
                                    <li>
                                        <a href="#" class="facebook" target="_blank"><i class="lab la-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter" target="_blank"><i class="lab la-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin" target="_blank"><i class="lab la-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagram" target="_blank"><i class="lab la-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">
                                        <div class="dot"></div>
                                        Description
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="dot"></div>
                                        Reviews
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <p>Design Inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum.  Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Nulla libero. Vivamus pharetra posuere sapien.</p>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <div class="product-review-form">
                                            <h3>Customer Reviews</h3>
                                            <div class="review-title">
                                                <div class="rating">
                                                    <i class="las la-star"></i>
                                                    <i class="las la-star"></i>
                                                    <i class="las la-star"></i>
                                                    <i class="las la-star"></i>
                                                    <i class="lar la-star"></i>
                                                </div>
                                                <p>Based on 3 reviews</p>
                                                <a href="#" class="default-btn">
                                                    Write a Review
                                                </a>
                                            </div>
                                            <div class="review-comments">
                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="lar la-star"></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span><strong>Admin</strong> on <strong>Sep 21, 2020</strong></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                    <a href="#" class="review-report-link">Report as Inappropriate</a>
                                                </div>
                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="lar la-star"></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span><strong>Admin</strong> on <strong>Sep 21, 2020</strong></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                    <a href="#" class="review-report-link">Report as Inappropriate</a>
                                                </div>
                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="lar la-star"></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span><strong>Admin</strong> on <strong>Sep 21, 2020</strong></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                    <a href="#" class="review-report-link">Report as Inappropriate</a>
                                                </div>
                                            </div>
                                            <div class="review-form">
                                                <h3>Write a Review</h3>
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="form-group">
                                                                <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="form-group">
                                                                <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="form-group">
                                                                <input type="text" id="review-title" name="review-title" placeholder="Enter your review a title" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="form-group">
                                                                <textarea name="review-body" id="review-body" cols="30" rows="7" placeholder="Write your comments here" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <button type="submit" class="default-btn">
                                                                Submit Review
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-shop">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="pizza-products-item">
                                <div class="image">
                                    <a href="#">
                                        <img src="/Content/User/assets/img/pizza-products/products1.jpg" alt="image">
                                    </a>

                                    <div class="offer-text">
                                        <h4>25%</h4>
                                        <span>Off</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Chicken Mushroom Pizza</a>
                                    </h3>
                                    <span>$22.00</span>

                                    <div class="products-btn">
                                        <a href="cart" class="default-btn">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="pizza-products-item">
                                <div class="image">
                                    <a href="#">
                                        <img src="/Content/User/assets/img/pizza-products/products2.jpg" alt="image">
                                    </a>

                                    <div class="offer-text">
                                        <h4>25%</h4>
                                        <span>Off</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Pizza al padellino</a>
                                    </h3>
                                    <span>$22.00</span>

                                    <div class="products-btn">
                                        <a href="cart" class="default-btn">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="pizza-products-item">
                                <div class="image">
                                    <a href="#">
                                        <img src="/Content/User/assets/img/pizza-products/products3.jpg" alt="image">
                                    </a>

                                    <div class="offer-text">
                                        <h4>25%</h4>
                                        <span>Off</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Pizza alla pala</a>
                                    </h3>
                                    <span>$22.00</span>

                                    <div class="products-btn">
                                        <a href="cart" class="default-btn">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="pizza-products-item">
                                <div class="image">
                                    <a href="#">
                                        <img src="/Content/User/assets/img/pizza-products/products4.jpg" alt="image">
                                    </a>

                                    <div class="offer-text">
                                        <h4>25%</h4>
                                        <span>Off</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Grilled Pizza</a>
                                    </h3>
                                    <span>$22.00</span>

                                    <div class="products-btn">
                                        <a href="cart" class="default-btn">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">
                    <section class="widget widget_search">
                        <form class="search-form search-top">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit">
                                <i class="flaticon-loupe"></i>
                            </button>
                        </form>
                    </section>

                    <section class="widget widget_vizo_posts_thumb">
                        <h3 class="widget-title">Popular Posts</h3>
                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg1" role="img"></span>
                            </a>
                            <div class="info">
                                <time class="2020-06-30">June 10, 2020</time>
                                <h4 class="title usmall">
                                    <a href="#">Restaurant In This City Right Now So We Scour The City</a>
                                </h4>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg2" role="img"></span>
                            </a>
                            <div class="info">
                                <time class="2020-06-30">June 21, 2020</time>
                                <h4 class="title usmall">
                                    <a href="#">Better Hot Drink Elegant You Can Order By Online</a>
                                </h4>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg3" role="img"></span>
                            </a>
                            <div class="info">
                                <time class="2020-06-30">June 30, 2020</time>
                                <h4 class="title usmall">
                                    <a href="#">Role Of Genetics In Treating Low-Grade Glioma</a>
                                </h4>
                            </div>
                        </article>
                    </section>

                    <section class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li>
                                <a href="#">The Pizza Box</a>
                            </li>
                            <li>
                                <a href="#">Oven-Baked Pizzas and Calzones</a>
                            </li>
                            <li>
                                <a href="#">Sugar and Slice Pizza Shop</a>
                            </li>
                            <li>
                                <a href="#">Sterling Pan Pizza Co.</a>
                            </li>
                            <li>
                                <a href="#">Stakeout Pizza</a>
                            </li>
                            <li>
                                <a href="#">Rosa's Italian Pizzeria</a>
                            </li>
                            <li>
                                <a href="#">Hot Spot Pizza Shop</a>
                            </li>
                            <li>
                                <a href="#">Frankie's Fried Pizza</a>
                            </li>
                        </ul>
                    </section>

                    <section class="widget widget_tag_cloud">
                        <h3 class="widget-title">Tags</h3>
                        <div class="tagcloud section-bottom">
                            <a href="#">Tomato Poha</a>
                            <a href="#">Salad</a>
                            <a href="#">Mineral Water</a>
                            <a href="#">Kebab</a>
                            <a href="#">Fish Curry</a>
                            <a href="#">Chicken Curry</a>
                            <a href="#">Rice</a>
                            <a href="#">Curd Upma</a>
                            <a href="#">Chana Kulcha</a>
                            <a href="#">Breakfast</a>
                            <a href="#">Lunch</a>
                            <a href="#">Dinner</a>
                            <a href="#">Coffee</a>
                            <a href="#">Snacks</a>
                            <a href="#">Menu</a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Details Area -->
