@{

    Layout = "~/Views/Shared/_TLayout.cshtml";
    var listfooter = (List<webMVC1.EF.Product>)ViewBag.footer;

}


<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Blog</h2>
                    <ul>
                        <li>
                            <a href="index">Home</a>
                        </li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Latest News</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            @foreach (var item in listfooter)
            {
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="image">
                        <a href="blogdetails">
                            <img src="/Content/User/assets/img/blog/@item.Images" alt="image">
                        </a>
                        <div class="date">
                            <span>@item.CreateDate</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="blogdetails">
                                @item.MetaTitle
                            </a>
                        </h3>
                        <a href="blogdetails" class="blog-btn">Read More +</a>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</section>
<!-- End Blog Area -->
