@model PagedList.IPagedList<webMVC1.EF.MenuType>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-header">
                    Menu in Index(FrontEnd)

                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "MenuDetail", FormMethod.Get))
                    {
                    }

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th>ID</th>
                                    <th>name</th>
                                    <th>Optional</th>
                                

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">


                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        
                                        <td>
                                            <a  class="btn btn-warning"href="/Admin/MenuDetail/Edit/@item.ID">Edit</a>
                                            |
                                            @Ajax.ActionLink("Delete", "Delete", new { @id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Are You Sure ?",
                                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                                           HttpMethod = "Delete"

                                       })

                                        </td>

                                    </tr>
                                }

                            </tbody>

                        </table>
   
                    </div>
                </div>

            </div>
        </div>

    </div>