@model webMVC1.EF.Contact
@{

    Layout = "~/Views/Shared/_TLayout.cshtml";

}
@section jsFooter{

    <script src="/Content/User/assets/js/controller/ContactController.js"></script>
}
<!-- Start Page Banner -->
<div class="page-title-area item-bg3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Contact</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Contact Info Area -->
<section class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class="las la-envelope"></i>
                    </div>
                    <h3>Email Here</h3>
                    <p><a href="mailto:tamcb2708@gmail.com">tamcb2708@gmail.com</a></p>
                    <p><a href="mailto:tamcb061201@gmail.com">tamcb061201@gmail.com</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class="las la-map-marker"></i>
                    </div>

                    <h3>Location Here</h3>
                    <p><a href="https://www.google.com/maps/place/Ng%C3%B5+32+Phan+V%C4%83n+Tr%C6%B0%E1%BB%9Dng,+D%E1%BB%8Bch+V%E1%BB%8Dng+H%E1%BA%ADu,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam" target="_blank">32-Phan Van Truong-Cau Giay-Ha Noi-Viet Nam</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class="las la-phone"></i>
                    </div>

                    <h3>Call Here</h3>
                    <p><a href="tel:0355978258">+ 0355 978 258</a></p>
                    <p><a href="tel:0982374911">+ 0982 374 911</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Info Area -->
<!-- Start Contact Area -->
<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>Message for any Query</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <h2> Contact Infomation</h2>
                    @Html.Raw(Model.content)

                    <br />
                    <hr />
                    <h3>Guest Feedback</h3>
                    <hr />
                    <form  method="post" >
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            LastName and FirstName
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text"  id="txtName" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Phone
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text"  id="txtPhone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Address
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text"  id="txtAddress" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Email
                                            <span class="required">*</span>
                                        </label>
                                        <input type="email"  id="txtEmail" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Message
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea  id="txtYeucau" cols="30" rows="5" placeholder="Order Notes" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="default-btn" id="btnSend">Send </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- End Contact Area -->
